<!DOCTYPE html >
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <div class="header-top-area s-header-top-area d-none d-lg-block">
        <div class="container-fluid s-container-full-padding">
            <div class="row align-items-center">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="header-top-offer">
                        <p>Ексклюзив Black Friday ! Offer</p>
                        <span class="coming-time" data-countdown="2023/7/27"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header-top-right">
                        <div class="header-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="header-top-action">
                            <ul>
                                <li>
                                    <div class="header-top-mail">
                                        <p><span>|</span><i class="far fa-envelope"></i>
                                            <a href="mailto:info@gmail.com">warmcompany@gmail.com</a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="header-user-login" sec:authorize="isAuthenticated()">
                                        <a th:href="@{/user}"><i class="fas fa-user"></i><span class="icon flaticon-user"></span><span
                                                class="txt">Ваш акккаунт</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-header" class="transparent-header">
        <div class="container-fluid s-container-full-padding">
            <div class="row">
                <div class="col-12">
                    <div class="main-menu menu-style-two">
                        <nav>
                            <div class="logo">
                                <a href="main-page.html"><img th:src="@{/img/logo/logoWarm.png}" alt="Logo"></a>
                            </div>
                            <div id="mobile-menu" class="navbar-wrap d-none d-lg-flex">
                                <ul>
                                    <li class="show"><a href="main-page.html">Домой</a>
                                    </li>
                                    <li><a href="#">Информация</a>
                                        <ul class="submenu">
                                            <li><a href="simple-page.html">Предзаказ</a></li>
                                            <li><a href="simple-page.html">Сдача аккаунта PS5</a></li>
                                            <li><a href="simple-page.html">Покупка игр</a></li>
                                            <li><a href="simple-page.html">Как продлить аренду?</a></li>
                                            <li><a href="simple-page.html">Вопрос-Ответ</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="simple-page.html">Акции</a></li>
                                    <li><a href="#">Как Арендовать</a>
                                        <ul class="submenu">
                                            <li><a href="simple-page.html">Оформление</a></li>
                                            <li><a href="simple-page.html">Способы оплаты</a></li>
                                            <li><a href="simple-page.html">Доставка</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="catalog.html">Каталог</a></li>
                                    <li><a href="#">О нас</a>
                                        <ul class="submenu">
                                            <li><a href="simple-page.html">Пожертвования</a></li>
                                            <li><a href="simple-page.html">Гарантия</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="simple-page.html">Контакты</a></li>
                                </ul>
                            </div>
                            <div class="header-action">
                                <ul>
                                    <li class="header-shop-cart"><a th:href="@{/cart}"><i
                                            class="fas fa-shopping-basket"></i></a>
                                    </li>
                                    <li class="header-search">
                                        <a href="#" data-toggle="modal" data-target="#search-modal">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="mobile-menu"></div>
                </div>
                <!-- Modal Search -->
                <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form>
                                <input type="text" placeholder="Search here...">
                                <button><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>