<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WARM ENTERPRISE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/warm-icon.png}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/odometer.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/meanmenu.css}">
    <link rel="stylesheet" th:href="@{/css/slick.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/css/paginator.css}">
</head>
<body>

<!-- preloader -->
<div id="preloader">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <img th:src="@{/static/img/icon/preloader.svg}" alt="">
        </div>
    </div>
</div>
<!-- preloader-end -->

<!-- header-area -->
<div th:insert="~{fragments/header :: header}"></div>
<!-- header-area-end -->

<!-- main-area -->
<main>

    <!-- catalog-area -->
    <section class="shop-area pt-120 pb-90">
        <div class="container">
            <div class="row" >
                <div class="col-lg-4 col-sm-6" th:each="game: ${games}" >
                    <div th:class="num" >
                        <div class="accessories-item text-center mb-80">
                            <div class="accessories-thumb mb-30">
                                <a th:href="@{/games/{id}(id=${game.id()})}"><img th:src="@{/img/product/shop_item01.jpg}" alt=""></a>
                            </div>
                            <div class="accessories-content">
                                <h5><a th:href="@{/games/{id}(id=${game.id()})}"  th:text="${game.title()}">название игры</a></h5>
                                <span th:text="'Цена: ' + ${game.price()} + '₽'">Цена: </span>
                                <form th:method="post" th:action="@{/cart/{id}/add(id=${game.id()})}">
                                    <button type="submit" th:text="'Добавить в корзину'" class="shop-add-action">
                                        Добавить в корзину
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            Страницы:
            <div class="paginator" onclick="pagination(event)"></div>
        </div>
    </section>
    <!-- catalog-area-end -->

</main>
<!-- main-area-end -->

<!-- footer-area -->
<div th:insert="~{fragments/footer :: footer}"></div>
<!-- footer-area-end -->

<!-- JS here -->
<script th:src="@{/js/vendor/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/jquery.meanmenu.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/jquery.lettering.js}"></script>
<script th:src="@{/js/jquery.textillate.js}"></script>
<script th:src="@{/js/jquery.odometer.min.js}"></script>
<script th:src="@{/js/jquery.appear.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/pagination.js}"></script>
</body>
</html>
