<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WARM ENTERPRISE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/warm-icon.png}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/odometer.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/meanmenu.css}">
    <link rel="stylesheet" th:href="@{/css/slick.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
</head>
<body>

<!-- preloader -->
<div id="preloader">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <img th:src="@{/img/icon/preloader.svg}" alt="">
        </div>
    </div>
</div>
<!-- preloader-end -->

<!-- header-area -->
<div th:insert="~{fragments/header :: header}"></div>
<!-- header-area-end -->

<!-- main-area -->
<main>

    <!-- user-edit-area -->
    <section class="game-single-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="game-single-content">
                        <div class="game-single-title mt-60 mb-30">
                            <h4>Персональная информация</h4>
                        </div>
                        <form th:method="post" th:object="${user}">
                            <div class="game-single-info mb-65">
                                <ul>
                                    <li><span>Имя пользователя :</span> <input type="text" name="имя пользователя"
                                                                               th:field="*{}"></input></li>
                                    <li><span>Email :</span> <input type="email" name="email" th:field="*{}"></span>
                                    </li>
                                    <li><span>Пароль :</span> <input type="password" name="пароль"
                                                                     th:field="*{}"></span></li>
                                    <li><span>Имя :</span> <input type="text" name="имя" th:field="*{}"></span></li>
                                    <li><span>Фамилия :</span> <input type="text" name="фамилия" th:field="*{}"></span>
                                    </li>
                                    <li><span>Дата Рождения :</span> <input type="date" name="дата рождения"
                                                                            th:field="*{}"></span></li>
                                    <li><span>Телефон :</span> <input type="tel" name="телефон" th:field="*{}"></span>
                                    </li>
                                </ul>
                                <div>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="button" class="btn btn-danger">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- user-edit-area-end -->

</main>
<!-- main-area-end -->

<!-- footer-area -->
<div th:insert="~{fragments/footer :: footer}"></div>
<!-- footer-area-end -->

<!-- JS here -->
<script th:src="@{/js/vendor/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/jquery.meanmenu.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/jquery.lettering.js}"></script>
<script th:src="@{/js/jquery.textillate.js}"></script>
<script th:src="@{/js/jquery.odometer.min.js}"></script>
<script th:src="@{/js/jquery.appear.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>