<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game description</title>
</head>
<body>
<h4 th:text="${game.title()}">NAME OF THE GAME</h4>
<div>
    <span>Price: </span> <span th:text="${game.price()}">PRICE</span> <span> RUB</span>
</div>
<div>
    <span>Game description: </span> <span th:text="${game.description()}">GAME DESCRIPTION</span>
</div>
<span>genre: </span>
<span th:each="genre : ${game.genres()}">
    <span th:text="${genre}"> </span> <span>;     </span>
</span>
<div>
    <a th:href="@{/developers/{id}(id=${game.developer().id()})}"
       th:text="${game.developer().title()}">DEVELOPER</a>
</div>
<div>
    <span> Date of release: </span> <span th:text="${game.releaseDate()}">DATE</span>
</div>
<div th:text="${game.image()}">IMAGE</div>
<div th:each="screenshot : ${game.screenshots()}">
    <span>screenshot: </span>
    <span th:text="${screenshot}">SCREENSHOT</span>
</div>
<span>Trailer URL: </span><span th:text="${game.trailerUrl()}">TRAILER</span>
</body>
<div>
    <span>Number of available accounts: </span> <span th:text="${numberOfAvailableAccounts}">DATE</span>
</div>
<div th:if="${numberOfAvailableAccounts}">
<form th:method="POST" th:action="@{/games/{id}/postpone(id=${game.id()})}">
    <input type="submit" value="POSTPONE">
</form>
</div>
</html>