<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WARM ENTERPRISE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{img/warm-icon.png}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/odometer.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/meanmenu.css}">
    <link rel="stylesheet" th:href="@{/css/slick.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
</head>
<body>

<!-- preloader -->
<div id="preloader">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <img th:src="@{/img/icon/preloader.svg}" alt="">
        </div>
    </div>
</div>
<!-- preloader-end -->

<div th:insert="~{fragments/header :: header}"></div>

<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area breadcrumb-bg" style="background-image: url(/img/bg/fifa.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 th:text="${game.title()}"><span>Название игры</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- game-area -->
    <section class="blog-area primary-bg pt-120 pb-175">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-list-post">
                        <div class="about-img">
                            <img th:src="@{/img/images/fifa_1.jpg}" alt="">
                            <a href="https://www.youtube.com/watch?v=0tIW1X2dv0c" class="popup-video"><img
                                    th:src="@{/img/icon/play_btn.png}" alt=""></a>
                        </div>
                        <div class="blog-list-post-content">
                            <h2>Описание</h2>
                            <p th:text="${game.description()}" style="color: #0b0b0b">здесь описание</p>
                        </div>
                    </div>
                    <div class="blog-list-post">
                        <div class="blog-list-post-content">
                            <div class="table-responsive-xl">
                                <table class="table mt-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">Количество свободных аккаунтов</th>
                                        <th scope="col" th:text="${numberOfAvailableAccounts}"> отобразить количество</th>
                                        <th scope="col">
                                            <form method="post"> <div class="community-post-tag">
                                                <a href="#">в корзину</a>
                                            </div>
                                            </form>
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <aside class="blog-sidebar">
                        <div class="widget mb-45">
                            <div class="sidebar-about">
                                <div class="sidebar-widget-title mb-15">
                                    <h4><span>Разработчик</span></h4>
                                </div>
                                <div class="sidebar-trending-match">
                                    <ul>
                                        <li>
                                            <span th:text = "${game.developer().getTitle()}">Разработчик</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="widget mb-45">
                            <div class="sidebar-widget-title mb-25">
                                <h4><span>Жанры</span></h4>
                            </div>
                            <div class="sidebar-trending-match">
                                <ul>
                                    <li th:each="genre : ${game.genres()}">
                                        <span th:text = "${genre.title()} + ' '">здесь жанры</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget mb-45">
                            <div class="sidebar-widget-title mb-25">
                                <h4><span>Дата релиза</span></h4>
                            </div>
                            <div class="sidebar-trending-match">
                                <ul>
                                    <li>
                                        <span th:text = "${game.releaseDate()}">здесь дата</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget mb-45">
                            <div class="sidebar-widget-title mb-25">
                                <h4><span>Цена</span></h4>
                            </div>
                            <div class="sidebar-trending-match">
                                <ul>
                                    <li>
                                        <span th:text = "${game.price()}">здесь цена</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!-- game-area-end -->

    <div class="area-bg-two">
        <!-- area -->
        <section class="shop-area pt-120 pb-90">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-title title-style-two text-center mb-30">
                            <h2><span>Скриншоты</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row product-active">
                    <div class="col-xl-3">
                        <div class="shop-item">
                            <div class="product-thumb">
                                <img th:src="@{/img/product/product_img04.jpg}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="shop-item">
                            <div class="product-thumb">
                                <img th:src="@{/img/product/product_img04.jpg}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="shop-item">
                            <div class="product-thumb">
                                <img th:src="@{/img/product/product_img04.jpg}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="shop-item">
                            <div class="product-thumb">
                                <img th:src="@{/img/product/product_img04.jpg}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="shop-item">
                            <div class="product-thumb">
                                <img th:src="@{/img/product/product_img04.jpg}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- main-area-end -->

<div th:insert="~{fragments/footer :: footer}"></div>


<!-- JS here -->
<script th:src="@{/js/vendor/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/jquery.meanmenu.min.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/jquery.lettering.js}"></script>
<script th:src="@{/js/jquery.textillate.js}"></script>
<script th:src="@{/js/jquery.odometer.min.js}"></script>
<script th:src="@{/js/jquery.appear.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
