<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WARM ENTERPRISE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="../img/warm-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/animate.min.css}">
        <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
        <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
        <link rel="stylesheet" th:href="@{/css/odometer.css}">
        <link rel="stylesheet" th:href="@{/css/aos.css}">
        <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/css/meanmenu.css}">
        <link rel="stylesheet" th:href="@{/css/slick.css}">
        <link rel="stylesheet" th:href="@{/css/default.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/responsive.css}">
    </head>
    <body>

        <!-- preloader -->
        <div id="preloader">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <img th:src="@{/static/img/icon/preloader.svg}" alt="">
                </div>
            </div>
        </div>
        <!-- preloader-end -->

        <!-- header-area -->
        <div th:insert="~{fragments/header :: header}"></div>
        <!-- header-area-end -->

        <!-- main-area -->
        <main>
            <!-- slider-area -->
            <section class="slider-area">
                <div class="slider-active">
                    <div class="single-slider slider-bg slider-style-two" th:style="'background-image: url(../img/slider/god_of_war.jpg);'">
                        <div class="container-fluid container-full-padding">
                            <div class="row">
                                <div class="col-xl-6 col-lg-7 col-md-11">
                                    <div class="slider-content">
                                        <h6 data-animation="fadeInUp" data-delay=".4s">world bestseller</h6>
                                        <h2 data-animation="fadeInUp" data-delay=".4s">GOD <br><span>OF</span><br> WAR</h2>
                                        <p data-animation="fadeInUp" data-delay=".6s" style="color:white">Здеся небольшое краткое описание о том какая это пиздатая игра и всё такое</p>
                                        <a th:href="@{/catalog}" class="btn btn-style-two" data-animation="fadeInUp" data-delay=".8s">Арендовать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-img" data-animation="slideInRightS" data-delay=".6s"><img th:src="@{/img/slider/kratos_res.png}" alt=""></div>
                        <div class="slider-img slider-img2" data-animation="slideInLeftS" data-delay=".6s"><img th:src="@{/img/slider/thor_res.png}" alt=""></div>
                        <div class="slider-circle-shape"><img th:src="@{/img/slider/slider_circle.png}" alt="" class="rotateme"></div>
                    </div>
                    <div class="single-slider slider-bg slider-style-two" th:style="'background-image: url(../img/slider/horizon_slider.jpg);'">
                        <div class="container-fluid container-full-padding">
                            <div class="row">
                                <div class="col-xl-6 col-lg-7 col-md-11">
                                    <div class="slider-content">
                                        <h6 data-animation="fadeInUp" data-delay=".4s">world gaming</h6>
                                        <h2 data-animation="fadeInUp" data-delay=".4s"><span>HORIZON</span> FORBIDDEN WEST</h2>
                                        <p data-animation="fadeInUp" data-delay=".6s" style="color:white">Здеся небольшое краткое описание о том как ты будешь кайфовать от этой игрушки</p>
                                        <a th:href="@{/catalog}" class="btn btn-style-two" data-animation="fadeInUp" data-delay=".8s">Арендовать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- slider-area-end -->

            <!-- new-games-area -->
            <section class="released-games-area gray-bg pt-115 pb-70">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8">
                            <div class="section-title title-style-three text-center mb-20">
                                <h2>топ популярных <span>игр</span></h2>
                                <p>История о том как овермного игроков уже арендовывали эти игры и стёрли все свои пальцы </p>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-xl-8 col-lg-12">
                            <div class="released-game-active">
                                <div class="released-game-carousel">
                                    <div class="released-game-item">
                                        <div class="released-game-item-bg"></div>
                                        <div class="released-game-img">
                                            <img th:src="@{/img/images/cod.jpg}" alt="">
                                        </div>
                                        <div class="released-game-content">
                                            <div class="released-game-rating">
                                                <h5>Rating :</h5>
                                                <div class="released-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h4> Call <span>of Duty</span></h4>
                                            <div class="released-game-list mb-15">
                                                <ul>
                                                    <li><span>Разработчик :</span>Treyarch, N-Space, Rebellion, Exakt Entertainment</li>
                                                    <li><span>Жанр :</span>Шутер</li>
                                                    <li><span>Платформа :</span>PlayStation 3, Xbox 360, Windows, Wii, Nintendo DS</li>
                                                </ul>
                                            </div>
                                            <a th:href="@{/catalog}" class="btn btn-style-two">арендовать</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="released-game-carousel">
                                    <div class="released-game-item">
                                        <div class="released-game-item-bg"></div>
                                        <div class="released-game-img">
                                            <img th:src="@{/img/images/doom.jpg}" alt="">
                                        </div>
                                        <div class="released-game-content">
                                            <div class="released-game-rating">
                                                <h5>Rating :</h5>
                                                <div class="released-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h4> DOOM <span>Eternal</span></h4>
                                            <div class="released-game-list mb-15">
                                                <ul>
                                                    <li><span>Разработчик :</span>id Software, Panic Button Games</li>
                                                    <li><span>Жанр :</span>Боевик, Приключения, Шутер</li>
                                                    <li><span>Платформа :</span>PlayStation 4, PlayStation 5</li>
                                                </ul>
                                            </div>
                                            <a th:href="@{/catalog}" class="btn btn-style-two">арендовать</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="released-game-carousel">
                                    <div class="released-game-item">
                                        <div class="released-game-item-bg"></div>
                                        <div class="released-game-img">
                                            <img th:src="@{/img/images/SW.jpg}" alt="">
                                        </div>
                                        <div class="released-game-content">
                                            <div class="released-game-rating">
                                                <h5>Rating :</h5>
                                                <div class="released-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h4>Star Wars Jedi <span>Fallen Order</span></h4>
                                            <div class="released-game-list mb-15">
                                                <ul>
                                                    <li><span>Разработчик :</span>Respawn Entertainment</li>
                                                    <li><span>Жанр :</span>Ролевые игры</li>
                                                    <li><span>Платформа :</span>PlayStation 4, PlayStation 5, Xbox</li>
                                                </ul>
                                            </div>
                                            <a th:href="@{/catalog}" class="btn btn-style-two">арендовать</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="released-game-carousel">
                                    <div class="released-game-item">
                                        <div class="released-game-item-bg"></div>
                                        <div class="released-game-img">
                                            <img th:src="@{/img/images/HMM.jpg}" alt="">
                                        </div>
                                        <div class="released-game-content">
                                            <div class="released-game-rating">
                                                <h5>Rating :</h5>
                                                <div class="released-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                            </div>
                                            <h4>Heroes of Might and Magic <span>III</span></h4>
                                            <div class="released-game-list mb-15">
                                                <ul>
                                                    <li><span>Разработчик :</span>New World Computing, Ван Канегем, Джон, DotEmu, Loki Software</li>
                                                    <li><span>Жанр :</span>Многопользовательская игра</li>
                                                    <li><span>Платформа :</span>PlayStation 4, PlayStation 5, Xbox</li>
                                                </ul>
                                            </div>
                                            <a th:href="@{/catalog}" class="btn btn-style-two">арендовать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-12">
                            <div class="released-game-nav">
                                <div class="released-game-nav-item">
                                    <img th:src="@{/img/images/logocod.jpg}" alt="">
                                </div>
                                <div class="released-game-nav-item">
                                    <img th:src="@{/img/images/logodoom.jpg}" alt="">
                                </div>
                                <div class="released-game-nav-item">
                                    <img th:src="@{/img/images/logosw.jpg}" alt="">
                                </div>
                                <div class="released-game-nav-item">
                                    <img th:src="@{/img/images/logohmm.jpg}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- new-games-area-end -->

            <!-- gamers-area -->
            <section class="just-gamers-area just-gamers-bg pt-115 pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-10">
                            <div class="section-title title-style-three white-title mb-70">
                                <h2>Преимущества для <span>Игроков</span></h2>
                                <p>Тута описание профита для юзеров</p>
                            </div>
                            <div class="just-gamers-list">
                                <ul>
                                    <li>
                                        <div class="just-gamers-list-icon">
                                            <img th:src="@{/img/icon/gamer_list_icon01.png}" alt="">
                                        </div>
                                        <div class="just-gamers-list-content fix">
                                            <h5>Просто текст</h5>
                                            <p>Не знаком с нашим сервисом? ОШИБКА!</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="just-gamers-list-icon">
                                            <img th:src="@{/img/icon/gamer_list_icon02.png}" alt="">
                                        </div>
                                        <div class="just-gamers-list-content fix">
                                            <h5>Просто текст</h5>
                                            <p>Не юзаешь наш сервис? ФАТАЛЬНАЯ ОШИБКА!</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="just-gamers-list-icon">
                                            <img th:src="@{/img/icon/gamer_list_icon03.png}" alt="">
                                        </div>
                                        <div class="just-gamers-list-content fix">
                                            <h5>Просто текст</h5>
                                            <p>Это база!</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 d-none d-lg-block">
                            <div class="just-gamers-img">
                                <img th:src="@{/img/images/gamers.png}" alt="" class="just-gamers-character">
                                <div class="just-gamers-circle-shape">
                                    <img th:src="@{/img/images/gamers_circle_line.png}" alt="">
                                    <img th:src="@{/img/images/gamers_circle_shape.png}" alt="" class="rotateme">
                                </div>
                                <img th:src="@{/img/images/just_gamers_chart.png}" alt="" class="gamers-chart-shape">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- gamers-area-end -->

            <!-- featured-game-area -->
            <section class="featured-game-area position-relative pt-115 pb-90">
                <div class="featured-game-bg"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8">
                            <div class="section-title title-style-three text-center mb-70">
                                <h2>ЛУЧШИЕ  <span>ШУТЕРЫ</span></h2>
                                <p>Сколько по каскам настреляли уже наши игроки</p>
                            </div>
                        </div>
                    </div>
                    <div class="row featured-active">
                        <div class="col-lg-4 col-sm-6 grid-item">
                            <div class="featured-game-item mb-30">
                                <div class="featured-game-thumb">
                                    <img th:src="@{/img/images/farcry.jpg}" alt="">
                                </div>
                                <div class="featured-game-content">
                                    <h4><a href="#">FAR <span>CRY</span></a></h4>
                                    <div class="featured-game-meta">
                                        <i class="fas fa-bell"></i>
                                        <span>Playstation 5 , Xbox</span>
                                    </div>
                                </div>
                                <div class="featured-game-content featured-game-overlay-content">
                                    <div class="featured-game-icon"><img th:src="@{/img/icon/featured_game_icon.png}" alt=""></div>
                                    <h4><a href="#">FAR <span>CRY</span></a></h4>
                                    <div class="featured-game-meta">
                                        <i class="fas fa-bell"></i>
                                        <span>Playstation 5 , Xbox</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 grid-item">
                            <div class="featured-game-item mb-30">
                                <div class="featured-game-thumb">
                                    <img th:src="@{/img/images/crysis.jpg}" alt="">
                                </div>
                                <div class="featured-game-content">
                                    <h4><a href="#">CRYSIS <span>3</span></a></h4>
                                    <div class="featured-game-meta">
                                        <i class="fas fa-bell"></i>
                                        <span>Playstation 5 , Xbox</span>
                                    </div>
                                </div>
                                <div class="featured-game-content featured-game-overlay-content">
                                    <div class="featured-game-icon"><img th:src="@{/img/icon/featured_game_icon.png}" alt=""></div>
                                    <h4><a href="#">CRYSIS <span>3</span></a></h4>
                                    <div class="featured-game-meta">
                                        <i class="fas fa-bell"></i>
                                        <span>Playstation 5 , Xbox</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 grid-item">
                            <div class="featured-game-item mb-30">
                                <div class="featured-game-thumb">
                                    <img th:src="@{/img/images/killzone.jpg}" alt="">
                                </div>
                                <div class="featured-game-content">
                                    <h4><a href="#">KILLZONE <span>SHADOW FALL</span></a></h4>
                                    <div class="featured-game-meta">
                                        <i class="fas fa-bell"></i>
                                        <span>Playstation 5 , Xbox</span>
                                    </div>
                                </div>
                                <div class="featured-game-content featured-game-overlay-content">
                                    <div class="featured-game-icon"><img th:src="@{/img/icon/featured_game_icon.png}" alt=""></div>
                                    <h4><a href="#">KILLZONE <span>SHADOW FALL</span></a></h4>
                                    <div class="featured-game-meta">
                                        <i class="fas fa-bell"></i>
                                        <span>Playstation 5 , Xbox</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 grid-item">
                            <div class="featured-game-item mb-30">
                                <div class="featured-game-thumb">
                                    <img th:src="@{/img/images/battlefield.jpg}" alt="">
                                </div>
                                <div class="featured-game-content">
                                    <h4><a href="#">BATTLEFIELD <span>3</span></a></h4>
                                    <div class="featured-game-meta">
                                        <i class="fas fa-bell"></i>
                                        <span>Playstation 5 , Xbox</span>
                                    </div>
                                </div>
                                <div class="featured-game-content featured-game-overlay-content">
                                    <div class="featured-game-icon"><img th:src="@{/img/icon/featured_game_icon.png}" alt=""></div>
                                    <h4><a href="#">BATTLEFIELD <span>3</span></a></h4>
                                    <div class="featured-game-meta">
                                        <i class="fas fa-bell"></i>
                                        <span>Playstation 5 , Xbox</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 grid-item">
                            <div class="featured-game-item mb-30">
                                <div class="featured-game-thumb">
                                    <img th:src="@{/img/images/insurgency.jpg}" alt="">
                                </div>
                                <div class="featured-game-content">
                                    <h4><a href="#">INSURGENCY <span>SANDSTROM</span></a></h4>
                                    <div class="featured-game-meta">
                                        <i class="fas fa-bell"></i>
                                        <span>Playstation 5 , Xbox</span>
                                    </div>
                                </div>
                                <div class="featured-game-content featured-game-overlay-content">
                                    <div class="featured-game-icon"><img th:src="@{/img/icon/featured_game_icon.png}" alt=""></div>
                                    <h4><a href="#">INSURGENCY <span>SANDSTROM</span></a></h4>
                                    <div class="featured-game-meta">
                                        <i class="fas fa-bell"></i>
                                        <span>Playstation 5 , Xbox</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 grid-item">
                            <div class="featured-game-item mb-30">
                                <div class="featured-game-thumb">
                                    <img th:src="@{/img/images/Metro_Exodus.png}" alt="">
                                </div>
                                <div class="featured-game-content">
                                    <h4><a href="#">METRO <span>EXODUS</span></a></h4>
                                    <div class="featured-game-meta">
                                        <i class="fas fa-bell"></i>
                                        <span>Playstation 5 , Xbox</span>
                                    </div>
                                </div>
                                <div class="featured-game-content featured-game-overlay-content">
                                    <div class="featured-game-icon"><img th:src="@{/img/icon/featured_game_icon.png}" alt=""></div>
                                    <h4><a href="#">METRO <span>EXODUS</span></a></h4>
                                    <div class="featured-game-meta">
                                        <i class="fas fa-bell"></i>
                                        <span>Playstation 5 , Xbox</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- featured-game-area-end -->

            <!-- cta-area -->
            <section class="cta-area cta-bg" th:style="'background-image: url(../img/images/cyberpunk.jpg);'">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-5 col-lg-6">
                            <div class="cta-img">
                                <img th:src="@{/img/images/girlcyberpunk.png}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="cta-content">
                                <div class="cta-icon mb-15">
                                    <img th:src="@{/img/icon/cta_icon.png}" alt="">
                                </div>
                                <div class="section-title title-style-three white-title mb-50">
                                    <h2>Cyber <span>Punk</span></h2>
                                    <p >Много много игроков играли в эту игру и остались довольны</p>
                                </div>
                                <div class="cta-btn">
                                    <a th:href="@{/catalog}" class="btn btn-style-two">Арендовать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- cta-area-end -->
        </main>
        <!-- main-area-end -->

        <!-- footer-area -->
        <div th:insert="~{fragments/footer :: footer}"></div>
        <!-- footer-area-end -->

        <!-- JS here -->
        <script th:src="@{/js/vendor/jquery-3.4.1.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/isotope.pkgd.min.js}"></script>
        <script th:src="@{/js/slick.min.js}"></script>
        <script th:src="@{/js/jquery.meanmenu.min.js}"></script>
        <script th:src="@{/js/wow.min.js}"></script>
        <script th:src="@{/js/aos.js}"></script>
        <script th:src="@{/js/jquery.lettering.js}"></script>
        <script th:src="@{/js/jquery.textillate.js}"></script>
        <script th:src="@{/js/jquery.odometer.min.js}"></script>
        <script th:src="@{/js/jquery.appear.js}"></script>
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <script th:src="@{/js/jquery.countdown.min.js}"></script>
        <script th:src="@{/js/jquery.scrollUp.min.js}"></script>
        <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
        <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
        <script th:src="@{/js/plugins.js}"></script>
        <script th:src="@{/js/main.js}"></script>
        <script th:src="@{/js/pagination.js}"></script>
    </body>
</html>
